.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ece5ce;
    color: #392a0d;
    padding: 1rem;
  }
  
  .navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #392a0d;
    text-decoration: none;
  }
  
  .navbar-right .nav-links {
    list-style-type: none;
    color: #392a0d;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right .nav-links li {
    margin-right: 1rem;
  }
  
  .navbar-right .nav-links a {
    color: #392a0d;
    text-decoration: none;
  }
  
  /* .navbar-right {
    display: flex;
    color: #392a0d;
    align-items: center;
  } */
