.card {
    background-color: rgb(158, 176, 94);
    width: 50%;
    margin-left: 25%;
    margin-top: 5%
}

.post-form {
    padding-block: 10%;
    margin-left: 10%;
    margin-top: 10%;
    width: 50%;
    height: 25%;

}

textarea {
    columns: 10;
    resize: none;
}